<!DOCTYPE html>
<html>
<span id='select'>
  SELECT FROM <span class='dropdown'>
    <a class='dropdown-toggle' ng-bind='action.relation.name'></a>
    <ul class='dropdown-menu text-left'>
      <li ng-repeat='rel in relations'>
      <a ng-click='action.setRelation(rel)' ng-bind='rel.name'></a>
      </li>
    </ul>
  </span>
  WHERE <span class='dropdown'>
    <a class='dropdown-toggle' ng-bind='action.attribute'></a>
    <ul class='dropdown-menu text-left'>
      <li ng-repeat='attr in action.relation.head'>
      <a ng-click='action.setAttribute(attr)' ng-bind='attr'></a>
      </li>
    </ul>
  </span>
  <span class='dropdown'>
    <a class='dropdown-toggle' ng-bind='action.condition'></a>
    <ul class='dropdown-menu text-left'>
      <li ng-repeat='cond in getRelConditions()'>
      <a ng-click='action.setCondition(cond)' ng-bind='cond'></a>
      </li>
    </ul>
  </span>
  <span class='dropdown'>
    <a class='dropdown-toggle' ng-bind='action.value'></a>
    <ul class='dropdown-menu text-left'>
      <li ng-repeat='val in getConditionValues(action.relation, action.attribute)'>
      <a ng-click='action.setValue(val)' ng-bind='val'></a>
      </li>
    </ul>
  </span>
  ;
</span>
</html>
